
body {
  background-color: darkblue;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
} 


a {
  padding: 10px 20px;
  background-color: slategray;
  color: white;
  text-align: center;
  margin: 5px;
  border-radius: 4px;

} 


a:hover {
  background-color: gray;
} 
img{
  display: block;
  width: 400px; 
  height: 400px; 
  margin: auto;
}
p{ 
  text-align: center;
  
}

.navbar {
  justify-content: space-between;
  text-decoration: end;
  background-color: #161b22;
  padding: 15px 30px;
}


.home { 
    text-align: center; 

  
  
  
}  


.home p{ 
  text-align: center;
}

img{
  margin-right: auto; 
  font-size: auto;
}
.about{
  text-align: center;
}
.about p{
  text-align: center;
}
.about h2{ 
  color: yellow; 
  
}
  

.about p {
  
  text-align: center;
  max-width: 600px;
  margin: 20px auto;
} 
.about{ 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: auto;
    
    .item1{
        flex: 1; 
        height: 150px; 
        width: auto; 
        background-color: rgb(48, 11, 11);
    } 
    .item2{
        flex: 1; 
        height: 150px; 
        width: auto; 
        background-color: rgb(35, 18, 53);
    
    } 
     .item3{
        flex: 1; 
        height: 150px; 
        width: auto; 
        background-color: rgb(46, 34, 19);
    
    } 
     .item4{
        flex: 1; 
        height: 150px; 
        width: auto; 
        background-color: rgb(42, 40, 44);
    
    } 
     .item5{
        flex: 1; 
        height: 150px; 
        width: auto; 
        background-color: rgb(65, 47, 22); 

    
    } 
     .item6{
        flex: 1; 
        height: 150px; 
        width: auto; 
        background-color: rgb(211, 84, 84);
    
    }  
    .item7{
        flex: 1; 
        height: 150px; 
        width: auto; 
        background-color: rgb(192, 12, 12);
    } 
    .item8{
        flex: 1; 
        height: 150px; 
        width: auto; 
        background-color: rgb(102, 79, 79);
    } 
    .item9{
        flex: 1; 
        height: 150px; 
        width: auto; 
        background-color: rgb(167, 117, 117);
    }
    

} 



.contact {
  padding: 80px 20px;
  text-align: center;
  background: #0d1117;
  color: white;
} 
.contact h2{
  color: yellow;
}

.contact p {
  margin-bottom: 20px;
}
